html,body{
    font-size:30px;
    font-size:6vw;
}

  body{
      font-family: 'Helvetica';
      line-height: 1.25rem;
      letter-spacing: 0.01rem;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color:black;
      overflow-x: hidden;
  }


a {
  text-decoration: none;
  color: black;
  display: block; }

a:hover {
  color: orangered; }

a:hover .load {
  color: #018ae6; }

a:hover span {
  color: orangered; }

::selection {
  background-color: #018ae6;
  color: orangered; }

img {
	  max-width: 100%;
	  height: auto;
	}

span {
  z-index: 1; }

.contact {
  position: relative;
  font-size: 6vw; }

.info {
  width: 100%;
  font-size: 6vw;
  display: table; }

.split {
  position: relative;
  width: 50%;
  float: left;
  padding-right: 2em;
  box-sizing: border-box; }

.projects {
  font-size: 6vw;
  width: 100%;
  padding-top: 1em;
  line-height: 1.25rem;
  z-index: 99; }
