* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

.box {
  border: none;
}

div.container {
    background-color: rgb(238, 254, 207);
    left: 50vw;
    width: 100vw;
    height: 100vh;
}

@font-face {
  font-family: "ChurchwardNewstypeLight-Regular";
  src: url('assets/webFonts/ChurchwardNewstypeLightRegular/font.woff2') format('woff2'), url('assets/webFonts/ChurchwardNewstypeLightRegular/font.woff') format('woff');
}

@font-face {
  font-family: "ChurchwardNewstypeBook-Regular";
  src: url('assets/webFonts/ChurchwardNewstypeBookRegular/font.woff2') format('woff2'), url('assets/webFonts/ChurchwardNewstypeBookRegular/font.woff') format('woff');
}

body {
    background-color: #eaebea;
    color: black;
    font-family: "ChurchwardNewstypeLight-Regular";
    font-size: 22px;
    font-color: #a100ff;
    letter-spacing: 0.8px;
    line-height: 1.4;
    text-align: left;
    overflow-y: display;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(238, 254, 207);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

div.indent {
  text-indent: 10%;
}

div.left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaebea;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: overlay;
}

div.right {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50vw;
    height: 100vh;
    left: 50vw;
    top: 0;
    overflow-y: overlay;
}

div.text-yp {
    margin-top: 5%;
    width: 90%;
    padding-left: 10%;
}

div.text-ai {
    margin-top: 5%;
    width: 90%;
}

div.intro {
    font-family: "ChurchwardNewstypeBook-Regular";
    font-size: 14px;
    color: black;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 5%;
    width: 90%;
    padding-left: 15%;
	  vertical-align: top;
	  text-align: left;
}

div.caption {
    font-family: "ChurchwardNewstypeBook-Regular";
    font-size: 14px;
    color: rgb(238, 254, 207);
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 5%;
    width: 60%;
    padding-left: 25%;
	  vertical-align: top;
	  text-align: left;
}


div.link {
    font-family: "ChurchwardNewstypeBook-Regular";
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 5%;
    width: 60%;
    color: #a100ff;
    cursor: pointer;
}

img {
    width: 90%;
    height: auto;
    margin-top: 5%;
    border-radius: 12px;
    box-shadow: 5px 10px 18px #eaebea;
}

.number {
    cursor: pointer;
}

.number:hover {
    color: black;
    -webkit-text-stroke: 1px;
}


@media screen and (max-width: 876px) {
			#left {
				width: 100%;
				height:auto;
			}

			#right {
				width: 100%;
				height: auto;
			}

			#leftcontent {
				margin: 15px;
			}

			#leftbottom {
				margin: 0 15px 40px 15px!important;
			}

			#rightcontent {
				margin: 40px 30px 40px 30px!important;
			}

  }
