@font-face {
  font-family: "ChurchwardNewstypeLight-Regular";
  src: url('assets/webFonts/ChurchwardNewstypeLightRegular/font.woff2') format('woff2'), url('assets/webFonts/ChurchwardNewstypeLightRegular/font.woff') format('woff');
}

@font-face {
  font-family: "ChurchwardNewstypeBook-Regular";
  src: url('assets/webFonts/ChurchwardNewstypeBookRegular/font.woff2') format('woff2'), url('assets/webFonts/ChurchwardNewstypeBookRegular/font.woff') format('woff');
}

@font-face {
  font-family: "franklin-gothic-book";
  src:url('assets/webFonts/franklin-gothic-book.woff2') format("woff2"),url('assets/webFonts/franklin-gothic-book.woff') format("woff");
}

@font-face {
  font-family: "franklin-gothic-medium";
  src:url('assets/webFonts/franklin-gothic-medium.woff2') format("woff2"),url('assets/webFonts/franklin-gothic-medium.woff') format("woff");
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    color: #191919;
    font-family: "ChurchwardNewstypeLight-Regular";
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.4px;
    text-align: left;
    overflow: hidden;
}

.entry {
    height: 100%;
    width: 90vw;
    position: fixed;
    justify-content: left;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 4;
    color: #191919;
    display: block;
}

.section {
  padding: 0px;
  border-bottom: 2px solid #191919;
}

#nav {
  position: fixed;
  text-align: left;
  overflow: auto;
  justify-content: left;
  font-family: "franklin-gothic-medium";
  font-size: 20px;
  right: 0px;
  width: 100px;
  height: auto;
  padding: 0px;
  background: rgb(0, 0, 255);
  z-index: 101;
  border-radius: 12px;
}



.button {
  display: flex;  
  width: 166px;
  height: 42px;
  padding-bottom: 9px;
  float: none;
  clear: none;
  font-family: "franklin-gothic-medium";
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #191919;
  background-color: transparent;
  font-family: Macguffin03, sans-serif;
  color: #191919;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5d895;;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaebea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5d895;;
}

a:link {
  color: #191919;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #191919;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e5d895;;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #191919;
  background-color: transparent;
  text-decoration: none;
}

div.indent {
  text-indent: 10%;
}

div.container {
    background-color: #e5d895;;
    width: 100vw;
    height: 100vh;
}

div..site-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .6s opacity;
}

div.left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5d895;;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
	  -webkit-overflow-scrolling: touch;
}

div.right {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: repeating-linear-gradient(to bottom, #191919, #191919 2px, transparent 0, transparent 200px), repeating-linear-gradient(to right,#191919, #191919 2px, transparent 0, transparent 200px);
    background-position: 20px 20px;
    width: 50vw;
    height: 100vh;
    left: 50vw;
    top: 0;
    overflow-y: auto;
    overflow: hidden;
	  -webkit-overflow-scrolling: touch;
    background-image:white;
}

div.clip {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 9%;
    top: 10vh;
    left: 1.5vw;
    border-radius: 0px;
    box-shadow: 5px 10px 18px #eaebea;
}

div.title {
    font-family: "ChurchwardNewstypeLight-Regular";
    font-size: 48px;
    color: #191919;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 20px;
    width: 90%;
    padding-left: 20px;
}

div.text-yp {
    margin-top: 5%;
    width: 90%;
    padding-left: 10%;
}

div.text-ai {
    margin-top: 5%;
    width: 90%;
    padding-left: 20px;
}

div.intro {
    font-family: "franklin-gothic-medium";
    font-size: 22px;
    line-height: 27px;
    color: #191919;
    letter-spacing: 0.2px;
    margin-top: 5%;
    width: 90%;
    padding-left: 15%;
	  vertical-align: top;
	  text-align: left;
}

div.caption {
    font-family: "franklin-gothic-medium";
    font-size: 18px;
    line-height: 22px;
    color: #191919;
    margin-top: 20px;
    width: 80%;
    padding-left: 25%;
	  vertical-align: top;
	  text-align: left;
}

div.text-video{
    position: fixed;
    bottom: 1.5vh;
    left: 1.5vw;
    color: #125f13;
    width: 100%;
}

div.link {
    font-family: "franklin-gothic-medium";
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 5%;
    width: 60%;
    color: #125f13;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 0px;
}

img {
    margin-top: 5%;
    width: 80%;
    height: auto;
    border-radius: 0px;
    box-shadow: 5px 10px 18px #e5d895;;
}

img.static {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: none; /* multiply */
    z-index: 3;
    background-color: #e5d895;;
    display: block;
}

.entry-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    opacity: 0.9;
    background-color: white;
}

#progressBar {
    background-color: transparent;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#progress {
    background-color:#eaebea;
    height: 50px;
    display:inline-block;
    border: none;
    z-index: 1;
    opacity: .9;
}

.number {
    cursor: pointer;
}

.number:hover {
    color: #191919;
    -webkit-text-stroke: 1px;
}

@media screen and (max-width: 876px) {
			#left {
				width: 100%;
				height:auto;
			}

			#right {
				width: 100%;
				height: auto;
			}

			#leftcontent {
				margin: 15px;
			}

			#leftbottom {
				margin: 0 15px 40px 15px!important;
			}

			#rightcontent {
				margin: 40px 30px 40px 30px!important;
			}

  }
