@font-face {
    font-family: "PPNeueMachina-Light";
    src:url('PPNeueMachina-Light.woff2') format("woff2"),url('PPNeueMachina-Light.woff') format("woff");
    font-weight:500;
    font-style:normal;
  }
  
  
  * {
    margin: 0;
    padding: 0;
}

body {
    height: 1080vh;
}

body.before-load {
    overflow-y: hidden;
}

.video-canvas {
    position: fixed;
    top: auto;
    left: 0%;
    width: 100%;
}
PP Neue Machina 

.title_wrap {
    width: 100vw;
    display: flex;
    position: fixed;
    height: 12vh;
    font-family: "PPNeueMachina-Light";
    color: #FFFFFF;
    font-size: 6vh;
    line-height: 2.8vh;
    letter-spacing: 0.00vh;
    text-align: left;
    background-color: #2151ff;
    justify-content: space-between;
    padding: 1px 10px 1px 1px;
    z-index: 999;
}

.title_wrap:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-family: "AS-Condensed-130";
    font-size: 2.1vh;
    line-height: 1vh;
    letter-spacing: 0.00vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}
