@charset "UTF-8";
/* CSS Document */

html {
	height:100%;
}

body {
  background-color: black
}

#image1{
  position:absolute;
  width: 100%;
  height:100%;
}

#image2{
  position:absolute;
  width: 90%;
  height:90%;
  top:5%;
  left:5%;
}

#image3{
  position:absolute;
  width: 80%;
  height:80%;
  top:10%;
  left:10%;
}

#image4{
  position:absolute;
  width: 70%;
  height:70%;
  top:15%;
  left:15%;
}

#image5{
  position:absolute;
  width: 60%;
  height:60%;
  top:20%;
  left:20%;
}

#image6{
  position:absolute;
  width: 50%;
  height:50%;
  top:25%;
  left:25%;
}

#image7{
  position:absolute;
  width: 40%;
  height:40%;
  top:30%;
  left:30%;
}

#image8{
  position:absolute;
  width: 30%;
  height:30%;
  top:35%;
  left:35%;
}

#image9{
  position:absolute;
  width: 20%;
  height:20%;
  top:40%;
  left:40%;
}

#image10{
  position:absolute;
  width: 10%;
  height:10%;
  top:45%;
  left:45%;
}
